{# 权限不足详情 #}
{% macro fail_permission() -%}
    {%- set totalmsgs = 5 -%}
    {%- set choice = range(totalmsgs) | random -%}
    {%- if choice == 0 -%}
    喵呜~当前用户权限不足以执行此操作喵，可能需要更高级别的访问权限哦！ヾ(≧へ≦)〃
    {%- elif choice == 1 -%}
    检测到权限限制喵...请检查您是否拥有特定权限喵~.·´¯`(>▂<)´¯`·. 
    {%- elif choice == 2 -%}
    权限不足喵！可能没有足够的访问级别来执行这个操作呢~￣へ￣
    {%- elif choice == 3 -%}
    呜...操作被拒绝，请联系管理员获取相应权限喵！(°ロ°)
    {%- elif choice == 4 -%}
    无法继续执行喵...权限太低了喵~
    {%- endif -%}
{%- endmacro -%}