.VSCodeCounter/

# template preview output
nonebot_plugin_zikequote3/templates/output/rendered_html/preview_*.html

# test
.coverage
htmlcov/
__test_not_used__/

# py
__pycache__/
.venv/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info
*.egg
*.whl
*.mypy_cache
*.pytest_cache

# build
dist/

# vscode
.vscode/