recursive-include * *

prune .github
prune .pytest_cache
prune .venv
prune .vscode
prune .VSCodeCounter
prune dist
prune docs
prune nonebot_plugin_zikequote3.egg-info

prune nonebot_plugin_zikequote3\html_capture\node_modules

recursive-exclude * *.pyc
recursive-exclude * apikey
recursive-exclude * api_key
recursive-exclude * dsn
recursive-exclude * sentry_dsn
