{# 
    语录列表模板

    - inline_css: 内联CSS样式

    - title: 标题
    - desc: 可选，标题描述
    - addition: 可选，附加信息
    - quotes: 全量语录列表
        - quote_id: 可选，语录 ID
        - quote_text: 可选，语录内容
        - quote_image: 可选，语录图片 URI
        - quote_author: 可选，语录作者
        - quote_comment: 可选，一条评论
#}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=1200">
  <title>列表</title>
  <style>
    {{ inline_css }}
  </style>
</head>
<body>
  <div class="top-info">
    <div class="top-info-title">{{ title }}</div>
    {% if desc %}<div class="top-info-desc">{{ desc }}</div> {% endif %}
    {% if addition %}<div class="top-info-additional">{{ addition }}</div>{% endif %}
  </div>
  <div class="masonry-container">
    <div class="quote-card">
    {% for q in quotes %}
      {% if q.quote_id %}<span class="quote-id">{{ q.quote_id }}</span>{% endif %}
      {% if q.quote_text %}<div class="quote-text">{{ q.quote_text }}</div>{% endif %}
      {% if q.quote_image %}<img class="quote-img" src="{{ q.quote_image }}" alt="Quote Image"/>{% endif %}
      {% if q.quote_author %}<div class="quote-author">{{ q.quote_author }}</div>{% endif %}
      {% if q.quote_comment %}<div class="quote-comment">“{{ q.quote_comment }}”</div>{% endif %}
    {% endfor %}
    </div>
  </div>
</body>
</html>