{#
    渲染 Markdown 内容模板

    - inline_css: 内联自定义样式
    - content: 预渲染的 HTML 内容（由 Python 端 Markdown 库转换）
#}

{% extends "htmls/base.html.jinja2" %}
{% block title %}Markdown 文档{% endblock %}
{% block head_extra %}
<style>{{ inline_css | safe }}</style>
{% endblock %}
{% block body %}
    <div id="preview">
        {{ content | safe }}
    </div>
{% endblock %}
