{# 语录更新中模板 #}
{%- set totalmsgs = 3 -%}
{%- set choice = range(totalmsgs) | random -%}
{%- if choice == 0 -%}
正在尝试更新语录...
{%- elif choice == 1 -%}
正在更新语录o(*≧▽≦)ツ┏━┓
{%- elif choice == 2 -%}
(∪.∪ )...zzz语录更新中！
{%- endif -%}