{# 删除语录未找到模板 #}
{%- set totalmsgs = 3 -%}
{%- set choice = range(totalmsgs) | random -%}
{%- if choice == 0 -%}
没有找到对应的语录呢...可能太久远啦~
{%- elif choice == 1 -%}
奇怪，没有找到对应的语录哦？(っ °Д °;)っ
{%- elif choice == 2 -%}
没找到符合条件的语录呢~
{%- endif -%}